<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragment :: header"></div>
<body>
    <div class="col-md-12">
        <h3>Sistem Informasi Kemahasiswaan</h3>
        <p>Selamat datang di Sistem Informasi Kemahasiswaan</p>
        <hr>
        <h4>Lihat Data Mahasiswa Berdasarkan NPM</h4>
        <p>Masukan Nomor Pokok Mahasiswa</p>
        <form action="/mahasiswa" method="get">
            <div class="input-group col-md-5">
                <input type="text" name="npm" class="form-control form-control-sm" placeholder="NPM" aria-label="NPM" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success btn-sm" type="submit">Cari</button>
                </div>
            </div>
        </form>
    </div>


</body>
<div th:replace="fragments/fragment :: footer"></div>
</html>