<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/fragment :: header"></div>
    <body>
        <div class="col-md-12">
            <h4 th:text="'Lihat Data Mahasiswa - '+${mahasiswa.npm}"></h4>
            <table>
                <tr>
                    <th>NIK</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.npm}"></td>
                </tr>
                <tr>
                    <th>Nama</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.nama}"></td>
                </tr>
                <tr>
                    <th>Tempat/Tanggal Lahir</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.tempat_lahir}+' '+${mahasiswa.tanggal_lahir}"></td>
                </tr>
                <tr>
                    <th>Program Studi</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.prodi.nama_prodi}"></td>
                </tr>
                <tr>
                    <th>Fakultas</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.prodi.fakultas.nama_fakultas}"></td>
                </tr>
                <tr>
                    <th>Universitas</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.prodi.fakultas.univ.nama_univ}"></td>
                </tr>
                <tr>
                    <th>Jenis Kelamin</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.jenis_kelamin == '0'} ? 'Perempuan' : 'Laki-laki'"></td>
                </tr>
                <tr>
                    <th>Agama</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.agama}"></td>
                </tr>
                <tr>
                    <th>Golongan Darah</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.golongan_darah}"></td>
                </tr>
                <tr>
                    <th>Tanggal Masuk</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.tahun_masuk}"></td>
                </tr>
                <tr>
                    <th>Jalur Masuk</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.jalur_masuk}"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${mahasiswa.status}"></td>
                    <td>
                        <a th:href="'/mahasiswa/lulus/Lulus/'+ ${mahasiswa.id}"><button class="btn btn-success btn-sm">Lulus</button></a>&nbsp;
                        <a th:href="'/mahasiswa/lulus/Drop Out/'+ ${mahasiswa.id}"><button class="btn btn-danger btn-sm">Non-Aktifkan</button></a>
                    </td>
                </tr>
                <tr>
                    <td><a th:href="'/mahasiswa/ubah/'+${mahasiswa.npm}"><button class="btn btn-primary btn-sm">Ubah data</button></a></td>
                </tr>
            </table>
        </div>
    </body>
<div th:replace="fragments/fragment :: footer"></div>
</html>